
@import "colors";

$col-w: white;
$box-padd:0 .1rem;

body{
    background-color: $bk-color;
}


#links {
    a {
    box-shadow: inset 0 0 0 0 $Color-box;
    color: #54b3d6;
    margin: 0 -.1rem;
    padding: $box-padd;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: $col-w;

  
  &:hover {
    box-shadow: inset 100px 0 0 0 #debf4d;
    color: white;
  }
 }
}